<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add a New Post</h1>
    <form action="/add" method="POST">
        <label for="author">Name of the Author:</label>
        <input type="text" id="author" name="author" required>
        <br><br>
        <label for="title">Title of the Post:</label>
        <input type="text" id="title" name="title" required>
        <br><br>
        <label for="content">Content:</label>
        <input type="text" id="content" name="content" required>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
